<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.OrderMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.entity.Order">
        <result column="order_id" property="order_id" jdbcType="INTEGER"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        order_id,
        `number`,
        user_id,
        create_time,
        `status`
    </sql>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="order.order_id">
        INSERT INTO tb_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.order_id!=null"> order_id,</if>
            <if test="order.number!=null"> `number`,</if>
            <if test="order.user_id!=null"> user_id,</if>
            <if test="order.createTime!=null"> create_time,</if>
            <if test="order.status!=null"> `status`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.order_id!=null">#{order.order_id,jdbcType=INTEGER},
            </if>
            <if test="order.number!=null">#{order.number,jdbcType=VARCHAR},
            </if>
            <if test="order.user_id!=null">#{order.user_id,jdbcType=INTEGER},
            </if>
            <if test="order.createTime!=null">#{order.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="order.status!=null">#{order.status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO tb_order (
            order_id,
            `number`,
            user_id,
            create_time,
            `status`
        )VALUES
        <foreach collection="orders" item="order" index="index" separator=",">
            (
            #{order.order_id,jdbcType=INTEGER},
            #{order.number,jdbcType=VARCHAR},
            #{order.user_id,jdbcType=INTEGER},
            #{order.createTime,jdbcType=TIMESTAMP},
            #{order.status,jdbcType=INTEGER}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE tb_order
        <set>
            <if test="order.number != null"> `number`= #{order.number,jdbcType=VARCHAR},</if>
            <if test="order.user_id != null"> user_id= #{order.user_id,jdbcType=INTEGER},</if>
            <if test="order.createTime != null"> create_time= #{order.createTime,jdbcType=TIMESTAMP},</if>
            <if test="order.status != null"> `status`= #{order.status,jdbcType=INTEGER}</if>
        </set>
        WHERE order_id = #{order.order_id,jdbcType=INTEGER}
    </update>

    <resultMap id="myOrderList" type="Order">
        <id property="order_id" column="order_id"/>
        <result property="number" column="number"/>
        <result property="createTime" column="create_time"/>
        <result property="status" column="status"/>
        <result property="user_id" column="user_id"/>
        <result property="name" column="name"/>
        <result property="note" column="note"/>
        <result property="telephone" column="telephone"/>
        <result property="product_name" column="product_name"/>
        <result property="goods_id" column="goods_id"/>
        <result property="price" column="price"/>
        <result property="product_name" column="product_name"/>

    </resultMap>
    <select id="queryMyOrder" parameterType="integer" resultMap="myOrderList">
        select o.*,p.product_name,p.price,p.product_id,c.company_name
        from (tb_order o,company c)
        left join product p
        on o.goods_id=p.product_id
        where o.user_id=#{user_id} and p.company_id=c.company_id
        order by create_time desc
    </select>

    <delete id="delOrder" parameterType="integer">
        delete from tb_order where order_id=#{order_id}
    </delete>

    <select id="queryByProduct_name" resultType="Order">
        select o.*,p.product_name,p.price
        from tb_order o
        left join product p
        on o.goods_id=p.product_id
        where o.user_id=#{user_id} and product_name like "%"#{product_name}"%"
    </select>

    <insert id="insert" parameterType="com.entity.Order">
        insert into tb_order(number,user_id,status,goods_id) values (#{number},#{user_id},#{status},#{goods_id})
    </insert>
</mapper>

